<!-- <div>
  <ul> 
    <li *ngFor="let num of nums;let i=index">{{num}}</li>
  </ul>
</div> -->
<!-- <div>
  <ul> 
    <li *ngFor="let num of nums;let i=even">{{i}}</li>
  </ul>
</div> -->
<!-- <div>
  <ul> 
    <li *ngFor="let num of nums">
      <span *ngIf="num % 2===0">{{num}}</span>
    </li>
  </ul>
</div> -->
<!-- 
<div>
  <ng-container *ngFor="let num of nums"> 
    <li *ngIf="num % 2===0">
      {{num}}
    </li>
  </ng-container>
</div> -->

<!-- <div>
  <ng-container *ngFor="let num of nums" [ngClass]="{hide:num%2!==0}"> 
    <li>
      {{num}}
    </li>
  </ng-container>
</div>  -->

<div>
  <ng-container *ngFor="let num of nums;let f=first;let l = last;" [ngClass]="{first:f,last:l}"> 
    <li>
      {{num}}
    </li>
  </ng-container>
</div> 
