*{
    font-size: 300;
    font-weight: bold;
}

ul{
    background-color: black;
    padding: 30px;
}

li{
    background-color:pink;
    margin:10px; 
    padding: 20px;

}

.hide{
    display: none;
}

.first{
    background-color: red;
}

.last{
background-color: white;
}
